* {
all: unset;
font-family: Iosevka Nerd Font Propo, monospace;
font-weight: bold;
}

window#waybar {
    background: @surface_container;
    border-radius: 50px;
}

#workspaces {
	margin: 6px 10px 6px 10px;
}

#workspaces button {
	color: @on_surface_variant;
	padding: 0px 6px;
	border-radius: 16px;
	margin: 0 2px;
    transition: all 200ms ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @primary 50%, @tertiary 60%);/*@primary_fixed_dim;*/
    color: @surface_container;
	min-width: 40px;
	transition: all 200ms ease-in-out;
}
.modules-left {
	margin-left: 12px;
}
.modules-right {
	margin-right: 12px;
}

#custom-powermenu {
	color: @primary;
    font-size: 25px;
}

#custom-updates {
	color: @tertiary;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 16px;
}

#custom-dotfiles {
    color: @primary;
	font-size: 16px; 
}

#network {
	color: @primary;
    font-size: 20px;
}

#pulseaudio {
	color: @tertiary;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

#clock {
	color: @primary;
	font-size: 16px;
}

tooltip {
    background: @surface_container;
    border-radius: 6px;
}

tooltip label {
    color: @primary;
    padding: 4px 8px;
}