@import "colors.css";

* {
all: unset;
font-family: Iosevka Nerd Font Bold, monospace;
font-weight: bold;
}

window#waybar {
    background: linear-gradient(@surface_container, @surface_container) padding-box,
                radial-gradient(ellipse at bottom center, @tertiary, @primary) border-box;
    border: 2px solid transparent;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#workspaces {
	min-width: 100px;
	font-size: 0.4rem;
	padding: 2px 4px;
	margin: 11px 0;
	border-radius: 99px;
}

#workspaces button {
	background-color: @on_surface_variant;
	color: transparent;
	padding: 0px 5px;
	border-radius: 99px;
	margin: 0 2px;
	min-width: 4px;
}

#workspaces button.active {
    background-color: @tertiary;/*@primary_fixed_dim;*/
	min-width: 1.2rem;
	font-weight: 800;
	transition: all 200ms ease-in-out;
}
.modules-left {
	margin-left: 12px;
}
.modules-right {
	margin-right: 12px;
}

#custom-powermenu {
	color: @tertiary;
    font-size: 16px;
	margin-right: 0px;
}

#clock {
	color: @tertiary;
	font-size: 16px;
	margin-right: 30px;
}

#pulseaudio {
	color: @primary;
	font-size: 20px;
	margin-right: 30px;
}

#network {
	color: @tertiary;
    font-size: 25px;
}

#custom-updates {
    color: @primary;
	font-size: 16px; 
}